#search-bar {
    margin: 10px;
    max-width: 90%;
}

.card {
    margin: 10px;
}

.navbar {
    background-color: #11698e;
    color: white;
    font-size: 100px;
}

/* .navbar-brand {
    margin-left: 35%;
} */

h3 {
    margin-left: 25px;
}

p {
    margin-left: 25px;
}

#forecast {
    background-color: #d6e0f0;
    width: 95%;
    margin-top: 10px;
}

.day {
    text-align: center;
}

#current-weather {
    background-color: #d6e0f0;
}

.card-body {
    width: 33%
}

.uv-safe{
    background-color: #6886c5;
}

.uv-unsafe{
    background-color: #F05454;
}

#label{
    color: white;
}

.icon{
    width: 100px;
    height: 100px;
}